@model BrickBox.Models.Domain.WishList

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WishList</legend>

        @Html.HiddenFor(model => model.wishlistID)

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.model)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.model)
            @Html.ValidationMessageFor(model => model.model)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pieces)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pieces)
            @Html.ValidationMessageFor(model => model.pieces)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.msrp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.msrp)
            @Html.ValidationMessageFor(model => model.msrp)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
